
  <div class="container-fluid">
    <br>
    <h1>Welcome to SquareFlow</h1>
    <hr>
   <h2>Communicate differently!</h2>
    <div class="row">
      <div class="column">
        <button type="button" name="button" class="button"> Log In </button><br>
        <button type="button" name="button" class="button button-outline"> <img class="logo" src="./images/facebook.png" alt="">&nbsp Log In with Facebook </button><br>
        <button type="button" name="button" class="button button-outline"> <img class="logo" src="./images/google.png" alt="">&nbsp Log In with Google</button><br><br>
      <p>Don't have an account? <br> choose and option and register now: </p>
      <div class="row">
        <div class="column">
        </div>
        <div class="column">
          <input class="checkbox-style" type="radio" name="account" value="resident" checked> <br> Individual <br>
        </div>
        <div class="column">
          <input class="checkbox-style" type="radio" name="account" value="business"> <br> Business<br>
        </div>
        <div class="column">
        </div>
      </div>
      <p>  <br><strong><a href="/signup">Register!</a></strong></p>
      </div>
    </div>
  </div>

  </body>
</html>
