/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  font-size: 28px;
}

h1, h2, h3, p {
  text-align: center;
}

p {
  font-size: 20px;
}

label {
  font-size: 20px !important;
}

.logo {
  height: 40px;
}

hr {
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.row {
  width: 70%;
  margin: 10px;
}

input {
  font-size: 18px;
}

.center-style {
  margin: 0 auto;
}

select {
  height: 50px !important;
}

input[type="text"] {
  height: 50px !important;
}

input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}

input[type="radio"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}

.font-style {
}

.column {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

button {
  width: 40%;
  height: 70px !important;
}
