
  <div class="container-fluid">
    <br>
    <h1>Welcome to SquareFlow</h1>
    <hr>
   <h2>Welcome Back</h2>
   <form>
     <fieldset>
       <div class="row">
         <div class="column">
         <label for="email">Email</label>
         <input type="text" placeholder="Insert the email you registered with" id="email" name="email">
         </div>
       </div>
       <div class="row">
       <div class="column">
         <label for="password">Tags</label>
         <input type="password" placeholder="Type your password" id="password" name="password">
       </div>
     </div>

       <div class="row">
         <div class="column">
           <input class="button-primary" type="submit" value="Log In">
         </div>
       </div>
     </fieldset>

   </form>

  </div>

  </body>
</html>
