<div class="container-fluid">

<h2>Fill in the form to sign up as a Business and Square your communication! </h2>
<hr>
<form>
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="companyName">Name of Business/Company</label>
      <input type="text" placeholder="Company's name" id="firstName">
      </div>
      <div class="column">
      <label for="businessType">Type</label>
      <input type="text" placeholder="Type of Business" id="lastName">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="email">Email</label>
      <input type="text" placeholder="Insert a valid email (will be your username)" id="email">
    </div>
    <div class="column">
      <label for="password">Password</label>
      <input type="text" placeholder="Choose a secure password" id="password">
    </div>
  </div>

    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Send">
      </div>
    </div>
  </fieldset>

  <input type="hidden" id="account" name="account"></li>
  <input type="hidden" id="street" name="street"></li>
  <input type="hidden" id="postCode" name="postCode"></li>
  <input type="hidden" id="city" name="city" ></li>
  <input type="hidden" id="country" name="country"></li>
  <input type="hidden" id="lat" name="lat"></li>
  <input type="hidden" id="lng" name="lng"></li>

</form>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe21EHro6EN_0N55_LePHR-tojoJOjoY&libraries=places"></script>
<script type="text/javascript" src="./javascripts/autocomplete.js"></script>
