<div class="container-fluid">

<h2>Post a Square </h2>
<hr>
<form action="/post_b" method="post">
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="text">Message</label>
      <input type="text" placeholder="Insert your message" id="text" name="text">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="tags">Tags</label>
      <input type="text" placeholder="Insert tags separated by spaces" id="tags" name="tags">
    </div>
  </div>


  <div class="row">
  <div class="column">
    <label for="radius">Radius in KM</label>
    <select name="radius">
      <option value="short">3 km</option>
      <option value="medium">10 km</option>
      <option value="long">20 km</option>
    </select>  </div>
  <div class="column">
    <label for="size">Ad Size</label>
    <select name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </div>
  <div class="column">
    <label for="duration">Length of Post</label>
    <select name="duration">
      <option value="short">4 hours</option>
      <option value="medium">8 hours</option>
      <option value="long">12 hours</option>
    </select>
  </div>
</div>

    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Post">
      </div>
    </div>
  </fieldset>
</form>

</div>
