</script>
<div class="container-fluid">
<h2>Post a Square </h2>
<hr>
<form action="/post_b" method="post">
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="text">Message</label>
      <input type="text" placeholder="Insert your message" id="text" name="text">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="tags">Tags</label>
      <input type="text" placeholder="Insert tags separated by spaces" id="tags" name="tags">
    </div>
  </div>

  <div class="row">
  <div class="column">
    <label for="address">Address</label>
    <input type="text" placeholder="Insert the full address in order to set the radius" id="address" name="address">
  </div>
  </div>

  <div class="row">
  <div class="column">
    <label for="radius">Radius in KM</label>
    <select name="radius">
      <option value="short">3 km</option>
      <option value="medium">10 km</option>
      <option value="long">20 km</option>
    </select>  </div>

  <div class="column">
    <label for="size">Ad Size</label>
    <select name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </div>
  <div class="column">
    <label for="duration">Length of Post</label>
    <select name="duration">
      <option value="short">4 hours</option>
      <option value="medium">8 hours</option>
      <option value="long">12 hours</option>
    </select>
  </div>
</div>

<div class="row">
<div class="column">
  <label for="radius">Cost</label>
  <p id="priceRadius">0</p>
</div>

<div class="column">
  <label for="size">Cost</label>
  <p id="priceSize">0</p>
</div>
<div class="column">
  <label for="duration">Cost</label>
  <p id="priceDuration">0</p>
</div>
</div>


    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Post">
      </div>
    </div>

    <input type="text" id="lat" name="lat"></li>
    <input type="text" id="lng" name="lng"></li>
    
  </fieldset>
</form>



</div>
<script type="text/javascript">
function updatePrice() {
  if ($('#individual').is(':checked')) {
    $('#register_link').replaceWith('<strong><a href=\"/signup_i\">Register!</a></strong>');
  }
  if ($('#business').is(':checked')) {
    var link = "\"/signup_b\""
    $('#register_link').replaceWith('<strong><a href=\"/signup_b\">Register!</a></strong>');
  }
}
$("#address").on('keyup', function (e) {
  var input = document.getElementById('address');
  google.maps.event.addDomListener(input, 'keydown', function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiKGfGuXH1u1ltBIV2Sh46o-Zta1UgizU&libraries=places"></script>

<script type="text/javascript" src="./javascripts/autocomplete.js"></script>
