<div class="container-fluid">

<h2>Post a Square </h2>
<hr>
<form>
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="text">Message</label>
      <input type="text" placeholder="Insert your message" id="text">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="tags">Tags</label>
      <input type="text" placeholder="Insert tags separated by spaces" id="tags">
    </div>
  </div>

    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Post">
      </div>
    </div>
  </fieldset>

</form>

</div>
