<div class="container-fluid">

<h2>Fill in the form to sign up and start connecting with your neighbours!</h2>
<form>
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="firstName">Name</label>
      <input type="text" placeholder="First Name" id="firstName">
      </div>
      <div class="column">
      <label for="lastName">Last Name</label>
      <input type="text" placeholder="Last Name" id="lastName">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="email">Email</label>
      <input type="text" placeholder="Insert a valid email (will be your username)" id="email">
    </div>
    <div class="column">
      <label for="password">Password</label>
      <input type="text" placeholder="Choose a secure password" id="password">
    </div>
  </div>

    <label for="address">Address</label>
    <input type="text" placeholder="enter your full address in order to find your neighbourhood" id="address"></input>

    <div class="row">
      <div class="column">
        <div class="float-center">
          <input class="checkbox-style" type="checkbox" name="new" value="city"> <br> I am a new Neighbour! <br>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Send">
      </div>
    </div>
  </fieldset>

  <input type="hidden" id="account" name="account"></li>
  <input type="hidden" id="street" name="street"></li>
  <input type="hidden" id="postCode" name="postCode"></li>
  <input type="hidden" id="city" name="city" ></li>
  <input type="hidden" id="country" name="country"></li>
  <input type="hidden" id="lat" name="lat"></li>
  <input type="hidden" id="lng" name="lng"></li>

</form>

</div>
