<div class="container-fluid">

<h2>Fill in the form to sign up as an Individual and Square your communication!</h2>
<hr>
<form>
  <fieldset>
    <div class="row">
      <div class="column">
      <label for="firstName">Name</label>
      <input type="text" placeholder="First Name" id="firstName">
      </div>
      <div class="column">
      <label for="lastName">Last Name</label>
      <input type="text" placeholder="Last Name" id="lastName">
      </div>
    </div>
    <div class="row">
    <div class="column">
      <label for="email">Email</label>
      <input type="text" placeholder="Insert a valid email (will be your username)" id="email">
    </div>
    <div class="column">
      <label for="password">Password</label>
      <input type="text" placeholder="Choose a secure password" id="password">
    </div>
  </div>

    <div class="row">
      <div class="column">
        <input class="button-primary" type="submit" value="Send">
      </div>
    </div>
  </fieldset>
</form>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe21EHro6EN_0N55_LePHR-tojoJOjoY&libraries=places"></script>
<script type="text/javascript" src="./javascripts/autocomplete.js"></script>
